@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

:root {
    --white: #fff;
	--primary : #0E51DA;
	--deep: #1446AC;
}

$gnbHeight : 65px;
$lnbWidth : 240px;

html {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, HelveticaNeue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
	min-width: 1440px;
	padding-top: $gnbHeight;
	padding-left: $lnbWidth;
	box-sizing: border-box;
	&:has(.initialBody) {
		padding: 0;
		min-width: 1000px;
	}
	&:has(.dashboard) {
		min-width: 768px;
	}
	@media screen and (max-width:768px) {
		padding-left: 0;
	}

}


Select {
	font-family: inherit;  /* 폰트 상속 */
	background: url(../img/btn-drop-arrow.svg) no-repeat 98% 50%;
	 /* 네이티브 화살표를 커스텀 화살표로 대체 */
        -webkit-appearance: none; 
	/* 네이티브 외형 감추기 */
        -moz-appearance: none;
        appearance: none;
}
Select::-ms-expand {
        display: none;/* 화살표 없애기 for IE10, 11*/
}

a {
	text-decoration: none;
}

input {
	outline: none;
}

.lineClamp3 {
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp: 3;	
	-webkit-box-orient: vertical;
	display: -webkit-box;
}
// 타블렛브레이크 포인트
@media screen and (max-width:768px) {

}
// 모바일브레이크 포인트
@media screen and (max-width:1280px) {
	
}
  

.flex {
	display: flex;
	align-items: center;
}

.gap4 {
	gap: 4px;
}
.gap8 {
	gap: 8px;
}
.gap10 {
	gap: 10px;
}
.gap16 {
	gap: 16px;
}
.gap20 {
	gap: 20px;
}

.flexWrap {
	flex-wrap: wrap;
}
.btn {
	cursor: pointer;
	color: #FFF;
	font-family: Pretendard;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.24px;
	display: flex;
	padding: 12px 16px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background: #242424;
}

.contents {
	padding: 30px;
}

h1 {
	color: #000;
	font-family: Pretendard;
	font-size: 21px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	letter-spacing: -0.42px;
	padding: 10px 12px;
	display: block;
	margin-bottom: 10px;
}

.gnb {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid #E3E3E8;
	background-color: #fff;
	justify-content: space-between;
	height: $gnbHeight;
	padding: 0 27px 0 20px;
	color: #4B5262;
	text-align: right;
	font-family: Pretendard;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.28px;
	.right {
		gap: 20px;
	}
	.btn {
		background: #0C41AC;
	}
	.mobileMenu {
		display: none;
	}
	@media screen and (max-width:768px) {
		.nick,
		.bell,
		.logout {
			display: none;
		}
		.mobileMenu {
			display: block;
		}
	}
	@media screen and (min-width:769px) {
		.mobileMenuPanel,
		.offcanvas-backdrop {
			display: none;
		}
	}
}

.mobileMenuPanel {
	text-align: left;
	padding-top: 29px;
	max-width: 80vw;
	.offcanvas-body {
		padding: 0;
	}
	.nickname {
		padding: 0 20px;
		margin-bottom: 20px;
		color: #4B5262;
		font-family: Pretendard;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.28px;
	}
	.closeBtn {
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.lnb {
		display: block;
		position: static;
		height: calc(100% - 37px);
		border: 0;
		width: 100%;
		.menu {
			width: 100%;
		}
	}
}


.lnb {
	overflow: auto;
	z-index: 10;
	position: fixed;
	top: $gnbHeight;
	left: 0;
	padding: 20px 0;
	border-right: 1px solid #E3E3E8;
	background: #FFF;
	width: $lnbWidth;
	box-sizing: border-box;
	height: calc(100vh - $gnbHeight);
	.group {
		display: flex;
		height: 44px;
		padding: 10px 20px;
		align-items: center;
		gap: 10px;
		box-sizing: border-box;
		color: #B1B1B1;
		font-family: Pretendard;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.24px;
		&::after {
			content: '';
			flex: 1 0 0;
			height: 1px;
			background-color: #D9D9D9;
		}
	}
	.menu {
		cursor: pointer;
		display: flex;
		width: 240px;
		height: 48px;
		padding: 10px 20px;
		align-items: center;
		gap: 10px;
		color: #000;
		font-family: Pretendard;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.28px;
		box-sizing: border-box;
		&.ac {
			color: #FFF;
			border-top: 1px solid #86A8EE;
			border-bottom: 1px solid #86A8EE;
			background: #0E51DA;
		}
	}

	@media screen and (max-width:768px) {
		display: none;
	}
}

.searchBar {
	border-right: 1px solid #E3E3E8;
	background: #FFF;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
	display: flex;
	align-items: center;
	padding: 11px 40px;
	gap: 20px;
	box-sizing: border-box;
}

.box {
	display: flex;
	align-items: center;
	gap: 4px;
	color: #000;
	font-family: Pretendard;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.26px;
	white-space: nowrap;
	&.col {
		flex-direction: column;
		align-items: flex-start;
	}
}
input,
select {
	border: 0;
	position: relative;
	border-radius: 10px;
	background: #EDEEF1;
	display: flex;
	padding: 10px 16px;
	padding: 10px;
	align-items: center;
	color: #000;
	font-family: Pretendard;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.24px;
	&::placeholder {
		color: #B4BECC;
	}
}

.fileAttatch {
	display: flex;
	gap: 4px;
	input {
		height: 32px;
		box-sizing: border-box;
	}
	input[type="file"] {
		padding-top: 6px;
		padding-bottom: 0;
		// display: none;
	}
}

.toggleUI {
	display: flex;
	align-items: center;
	gap: 8px;
}
.toggle {
	input {
		display: none;
	}
	.toggleObject {
		width: 36px;
		height: 20px;
		background: url(../img/ic_toggle_off.svg) center no-repeat;
	}
	input:checked + .toggleObject {
		background-image: url(../img/ic_toggle_on.svg);
	}
}
select {
	padding-right: 30px;
	background: #EDEEF1 url(../img/ic_select_arr.svg) center right 12px no-repeat;
	&:active, &:focus-visible {
		outline: 1px solid #000;
	}
}
.search {
	padding-left: 38px;
	background: #EDEEF1 url(../img/ic_serach.svg) center left 14px no-repeat;
	border-radius: 100px;
}
[class*="Btn"],
[class*="btn-"] {
	cursor: pointer;
	margin: 0 2px;
}
.btn-blue {
	margin: 0 2px;
	font-family: Pretendard;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.24px;
	display: flex;
	height: 32px;
	padding: 0px 20px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	color: #FFF;
	background: #0E51DA;
}
.btn-skyblue {
	font-family: Pretendard;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.24px;
	display: flex;
	height: 32px;
	padding: 0px 20px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	color: #3779FF;
	background: #D0DFFF;
}
.btn-black {
	font-family: Pretendard;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.24px;
	display: flex;
	height: 32px;
	padding: 0px 20px;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	color: #fff;
	background: #242424;
}

.btn-grey {
	border: 0;
	font-family: Pretendard;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.24px;
	display: flex;
	height: 32px;
	padding: 0px 20px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	color: #838A93;
	background: #EDEEF1;
}

.btn-red {
	font-family: Pretendard;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.24px;
	display: flex;
	height: 32px;
	padding: 0px 20px;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	color: #E92E1E;
	background: #FFE6E4;
}
.btn-excel {
	font-family: Pretendard;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.24px;
	display: flex;
	height: 32px;
	padding: 0px 20px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	gap: 4px;
	color: #fff;
	background: #0B8D5E;
	&::before {
		content: '';
		width: 18px;
		height: 20px;
		background: url(../img/ic_excel.svg) center no-repeat;
	}
}

.btn-full {
	width: 100%;
}

label {
	display: flex;
	align-items: center;
	gap: 4px;
	color: #000;
	font-family: Pretendard;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.24px;
	padding-right: 4px;
	input[type="radio"] {
		width: 20px;
		height: 20px;
		padding: 0;
		margin: 0;
		background: #fff url(../img/ic_radio_off.svg) center no-repeat;
		&:checked {
			background-image: url(../img/ic_radio_on.svg);
		}
	}
}

.btnWrap {
	display: flex;
	align-items: center;
	gap: 2px;
	margin-top: 10px;
	margin-bottom: 20px;
	[class*="btn"] {
		height: 38px;
		border-radius: 8px;
	}
}

.checkboxLabel {
	display: flex;
	align-items: center;
	gap: 6px;
	// margin: 4px 0;
	input[type="checkbox"] {
		margin: 0;
		padding: 0;
		border: 0;
		box-sizing: border-box;
		border-radius: 0;
		display: block;
		width: 20px;
		height: 20px;
		background: transparent url(../img/ic_checkbox_off.svg) center no-repeat;
		&:checked {
			background-image: url(../img/ic_checkbox_on.svg);
		}
	}
	
}

.toggleBtnBox {
	border-radius: 8px;
	background: #EDEEF1;
	display: flex;
	gap: 2px;
	padding: 2px;
	.toggleBtn {
		margin: 0;
		padding: 0;
		span {
			padding: 10px 16px;
			border-radius: 8px;
			color: #838A93;
			font-family: Pretendard;
			font-size: 12px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			letter-spacing: -0.24px;
		}
		input {
			display: none;
		}
		input:checked + span {
			color: #4C545E;
			background-color: #fff;
		}
	}
}



.filter {
	border-radius: 16px;
	background: #F9FAFB;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	.flexWrap {
		row-gap: 4px;
	}
	.filterName {
		color: #484C51;
		font-family: Pretendard;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.36px;
	}
	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.bottom {
		display: flex;
		gap: 14px;
		flex-wrap: wrap;
	}
	.box {
		color: #979CA3;
		font-family: Pretendard;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.26px;

	}
	.commandBtn {
		cursor: pointer;
		padding: 12px 16px;
		border-radius: 8px;
		background: #242424;
		color: #FFF;
		font-family: Pretendard;
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.24px;
		margin: 0 2px;
	}
	.btn-blue {
		height: 38px;
	}

}

.tray {
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 16px;
	background: #F9FAFB;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap:16px;
	.count {
		color: #4A7CE2;
		font-family: Pretendard;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.28px;
	}
	.label {
		color: #979CA3;
		font-family: Pretendard;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.26px;
	}
}

.paging {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	> * {
		cursor: pointer;
	}
	.num {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		color: #838A93;
		text-align: center;
		font-family: Pretendard;
		font-size: 15px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.3px;	
		border-radius: 10px;
		&.ac {
			background: #0E51DA;
			color: #fff;
		}
	}
	.first,
	.last {
		width: 32px;
		height: 32px;
		background: url(../img/ic_paging_arr_double.svg) center no-repeat;
	}
	.prev,
	.next {
		width: 32px;
		height: 32px;
		background: url(../img/ic_paging_arr.svg) center no-repeat;
	}
	.next {
		transform: rotate(180deg);
	}
	.last {
		transform: rotate(180deg);
	}
}

.grid {
	overflow: auto;
	table {
		width: 100%;
		table-layout: fixed;
		tr:has(td):hover {
			background-color: #E9EDF4;
		}
		th {
			padding: 4px;
			vertical-align: middle;
			border-bottom: 0.5px solid #BDBDBD;
			height: 38px;
			// padding: 4px 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: left;
			box-sizing: border-box;
			color: #393C40;
			font-family: Pretendard;
			font-size: 13px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			letter-spacing: -0.26px;
		}
		td {
			height: 38px;
			vertical-align: middle;
			padding: 4px;
			color: #4B5262;
			font-family: Pretendard;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: -0.26px;
			text-align: left;
			box-sizing: border-box;
			text-overflow: ellipsis;
    		overflow: hidden;
		}
		.checkboxLabel {
			justify-content: center;
			padding: 0;
		}
		.btn {
			margin: 0 auto;
			border: 0;
			font-family: Pretendard;
			font-size: 12px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			letter-spacing: -0.24px;
			padding: 0 8px;
			height: 22px;
			display: inline-flex;
			width: auto;
			border-radius: 4px;
			color: #A5ABB2 !important;
			background: #D2D7DE !important;
			&.on {
				background: #D0DFFF !important;
				color: #3779FF !important;
			}
		}
		.status {
			color: #95989C;
		}
		.ing {
			color: #0AAB71;
		}
		.amazon {
			width: 16px;
			height: 16px;
			display: inline-block;
			margin-bottom: -3px;
			margin-right: 4px;
			background: url(../img/ic_channel_amazon.svg) center no-repeat;
		}
		.evay {
			width: 16px;
			height: 16px;
			display: inline-block;
			margin-bottom: -3px;
			margin-right: 4px;
			background: url(../img/ic_channel_evay.svg) center no-repeat;
		}
		.rakuten {
			width: 16px;
			height: 16px;
			display: inline-block;
			margin-bottom: -3px;
			margin-right: 4px;
			background: url(../img/ic_channel_rakuten.svg) center no-repeat;
		}
		.temu {
			width: 16px;
			height: 16px;
			display: inline-block;
			margin-bottom: -3px;
			margin-right: 4px;
			background: url(../img/ic_channel_temu.svg) center no-repeat;
		}
		.taobao {
			width: 16px;
			height: 16px;
			display: inline-block;
			margin-bottom: -3px;
			margin-right: 4px;
			background: url(../img/ic_channel_taobao.svg) center no-repeat;
		}
		.ali {
			width: 16px;
			height: 16px;
			display: inline-block;
			margin-bottom: -3px;
			margin-right: 4px;
			background: url(../img/ic_channel_ali.svg) center no-repeat;
		}


		.imgWrap {
			display: flex;
			align-items: center;
			gap: 2px;
			.prev,
			.next {
				cursor: pointer;
				width: 14px;
				height: 36px;
				background: url(../img/ic_imgSlide_arr.svg) center no-repeat;
			}
			.next {
				transform: rotate(180deg);
			}
			.img {
				width: 36px;
				height: 36px;
				background: #D9DCE3;
				outline: 2px solid transparent;
				&.ac {
					outline: 2px solid #0E51DA;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.plus {
			display: inline-block;
			margin-bottom: -3px;
			margin-left: 8px;
			cursor: pointer;
			width: 16px;
			height: 16px;
			background: url(../img/ic_plus.svg) center no-repeat;
		}

		.gridInput {
			position: relative;
			width: 100%;
			select {
				width: 100%;
				border-radius: 10px;
				border: 1px solid #000;
				background-color: #FFF;
				padding: 10px 16px;
				padding: 10px;
				padding-right: 28px;
				color: #000;
				font-family: Pretendard;
				font-size: 12px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				letter-spacing: -0.24px;
				box-sizing: border-box;
			}
			input {
				width: 100%;
				border-radius: 10px;
				border: 1px solid #000;
				background: #FFF;
				padding: 10px 16px;
				padding: 10px;
				color: #000;
				font-family: Pretendard;
				font-size: 12px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				letter-spacing: -0.24px;
				box-sizing: border-box;
				// padding-right: 46px;
			}
			.inputBtn {
				position: absolute;
				top: 50%;
				right: 16px;
				transform: translateY(-50%);
				color: #0E51DA;
				font-family: Pretendard;
				font-size: 12px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				letter-spacing: -0.24px;
			}
		}

		.lock {
			width: 16px;
			height: 16px;
			background: url(../img/ic_lock.svg) center no-repeat;
			margin: 0 auto;
		}
	}
}

.sectionTit {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 12px;
	margin-bottom: 10px;
	label {
		color: #000;
		font-family: Pretendard;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.32px;
		gap: 10px;
	}
	.accodionBtn {
		color: #808080;
		font-family: Pretendard;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.28px;
		display: flex;
		padding: 8px 10px;
		align-items: center;
		gap: 4px;
		border-radius: 10px;
		border: 1px solid #B1B1B1;
		background: #FFF;
		&.close {
			svg {
				transform: rotate(180deg);
			}
		}
	}
}

.nav-tabs {
	border-bottom-color: #7F7F8D;
	gap: 4px;
	margin-bottom: 20px;
	.nav-link {
		background: #F9FAFB;
		color: #9AA1B2;
		text-align: center;
		font-family: Pretendard;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.28px;
		// border-color: #fff #fff #7F7F8D;
		border-radius: 8px 8px 0 0;
		padding: 10px 20px;
		transition: 0s;
		border: 0;
		// border-bottom: 1px solid #7F7F8D;
		&:hover {
			// border-bottom: 1px solid #7F7F8D;
		}
		&.active {
			background: #fff;
			color: #000;
			border: 1px solid;
			border-color: #7F7F8D #7F7F8D #fff;
		}
	}
}
.tableWrap {
	border-radius: 16px;
	overflow: hidden;
	margin-bottom: 10px;
}
.table {
	margin: 0;

	tr {
		border-bottom: 1px solid #E3E3E8;
		&:last-child {
			border: 0;
		}
	}
	th {
		background: #EDEEF1;
		color: #979CA3;
		font-family: Pretendard;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.26px;
		vertical-align: middle;
		padding: 15px 20px;
	}

	.conWrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 4px;
	}

	td {
		background: #F9FAFB;
		padding: 10px 20px;
		.value {
			margin-top: 3px;
			color: #000;
			font-family: Pretendard;
			font-size: 13px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			letter-spacing: -0.24px;
		}
	}

	.box {
		label {
			color: #979CA3;
			font-family: Pretendard;
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: -0.26px;
			min-width: 100px;
		}
	}
	// .box:has(input[type="radio"]) {
	// 	gap: 8px;
	// }
	label:has(input[type="radio"]) {
		padding: 5px 0;
		min-width: unset;
		margin-right: 8px;
	}

	.remove {
		width: 24px;
		height: 24px;
		border-radius: 8px;
		background: #E0E2E7 url(../img/ic_remove.svg) center no-repeat;
		cursor: pointer;
	}
}

.login {
	max-width: 350px;
	margin: 0 auto;
	margin-top: 140px;
	padding: 30px;
	border-radius: 30px;
	background: #F9FAFB;
	display: flex;
	flex-direction: column;
	gap: 12px;	
	.logo {
		padding: 10px;
		img {
			margin: 0 auto;
			display: block;
			height: 27px;
		}
	}
	.btn-black {
		border-radius: 8px;
	}
	.divider {
		width: 1px;
		height: 10px;
		background: #D9D9D9;
	}
	text-align: center;
	color: #979CA3;
	font-family: Pretendard;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.26px;
}


.innerModal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	&.ac {
		display: block;
	}
	.modal-content {
		width: 720px;
		.imgWrap {
			img {
				height: 400px;
			}

		}
	}
}

.modal {


	.modal-content {
		border-radius: 30px;
	}
	.modal-header {
		border: 0;
		padding: 30px;
		padding-bottom: 0;
		.modal-title {
			padding: 0;
			color: #000;
			font-family: Pretendard;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.36px;
		}
	}
	.modal-body {
		padding: 30px;
		padding-top: 12px;
		padding-bottom: 0;
	}
	.nav-tabs {
		border: 0;
		gap: 0;
		margin: 0;
		.nav-item {
			flex: 1 0 0;
		}
		.nav-link {
			background-color: transparent;
			width: 100%;
			flex: 1 0 0;
			border: 0;
			border-bottom: 2px solid #EDEEF1;
			text-align: center;
			color: #838A93;
			&.active {
				color: #222;
				border-color: #0E51DA;
			}
		}
	}

	label.grey {
		width: 100px;
		color: #979CA3;
		font-family: Pretendard;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.26px;
	}
	.box label {
		color: #979CA3;
		font-family: Pretendard;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.26px;
	}
	.selectWrap {
		// padding-bottom: 20px;
		display: flex;
		flex-direction: column;
		gap: 4px;
		li {
			display: flex;
			gap: 12px;
			width: 100%;
		}
		label {
			width: 100px;
		}
		select {
			flex: 1 0 0;
		}
	}
	.insertWrap {
		display: flex;
		// margin-bottom: 20px;
		flex-direction: column;
		gap: 4px;
		background-color: #EDEEF1;
		padding: 10px 8px;
		overflow: auto;
		// height: 90px;
		border-radius: 8px;
		color: #4B5262;
		font-family: Pretendard;
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.24px;
		.name {
			flex: 1 0 0;
		}
		.btn-skyblue {
			height: 22px;
			padding: 0 8px;
			border-radius: 4px;
		}
	}
	.planWrap {
		display: flex;
		gap: 12px;
		// padding-bottom: 30px;
		.item {
			flex: 1 0 0;
			display: flex;
			flex-direction: column;
			gap: 8px;
			color: #979CA3;
			font-family: Pretendard;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			letter-spacing: -0.32px;
			img {
				width: 14px;
				height: 14px;
				background: url(../img/ic_plan_01.png) center/cover no-repeat;	
			}
			ul {
				display: flex;
				flex-direction: column;
				gap: 10px;
				border-radius: 8px;
				background: #EDEEF1;
				padding: 10px 8px;
				color: #4B5262;
				font-family: Pretendard;
				font-size: 12px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				letter-spacing: -0.24px;
				min-height: 130px;
				li {
					padding-left: 18px;
					position: relative;
					&::before {
						content: '';
						width: 3px;
						height: 3px;
						position: absolute;
						top: 5px;
						left: 5px;
						background-color: #4B5262;
						border-radius: 50%;
					}
				}
			}
		}
	}
	.pWrap {
		margin: 12px 0;
		height: 340px;
		overflow: auto;
	}
	p {
		color: #4B5262;
		font-family: Pretendard;
		font-size: 13px;
		font-style: normal;
		font-weight: 600;
		line-height: 150%; /* 19.5px */
		letter-spacing: -0.26px;
	}
	.imgWrap {
		padding-bottom: 12px;
		img {
			width: 100%;
			height: 180px;
			object-fit: contain;
		}
	}
	.formWrap {
		display: flex;
		flex-direction: column;
		gap: 12px;
		gap: 16px;
		padding-top: 20px;
		padding-bottom: 12px;
	}
	.inputWrap {
		display: flex;
		flex-direction: column;
		gap: 4px;
		gap: 8px;
		.mesg {
			margin-top: 4px;
			font-family: Pretendard;
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: -0.26px;
		}
		&.green {
			input {
				border: 1px solid #2BD397;
			}
			.mesg {
				color: #2BD397;
			}
		}
		&.red {
			input {
				border: 1px solid #FF1C1C;
			}
			.mesg {
				color: #FF1C1C;
			}
		}
	}
	.inputLabel {
		color: #979CA3;
		// color: #5A5E64;
		font-family: Pretendard;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.26px;
		// margin-bottom: 4px;
	}
	select {
		width: 100%;
		flex: 1 0 0;
	}
	input {
		width: 100%;
		flex: 1 0 0;
		box-sizing: border-box;
		padding: 10px 8px;
	}
	input[type="radio"],
	input[type="checkbox"] {
		flex: 0 0 auto;
	}
	.modal-footer {
		margin: 0;
		padding: 30px;
		padding-top: 20px;
		border: 0;
		&.btnWrap {
			margin-bottom: 0;
			gap: 12px;
			display: flex;
			flex-wrap: nowrap;
		}
	}
	.dualSec {
		display: flex;
		gap: 12px;
		.left {
			flex: 0 0 430px;
		}
		.detail {
			flex: 1 0 0;
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
		.arr {
			padding-top: 20px;
			width: 24px;
			flex: 0 0 auto;
			text-align: center;
		}
	}
	.gridWrap {
		padding: 10px 8px;
		border-radius: 8px;
		background: #EDEEF1;
		overflow: auto;
		&.line {
			background-color: transparent;
			border: 1px solid #ABAEB6;
			.grid {
				tr {
					background-color: transparent;
				}
				th, td {
					height: 38px;
					padding: 4px;
				}
			}
		}
		.grid {
			th,td {
				height: 22px;
				padding: 2px;
			}
		}
	}

	.imgThumbWrap {
		display: flex;
		align-items: center;
		justify-content: center;
		.imgWrap {
			height: 86px;
			box-sizing: content-box;
			padding: 0;
			.prev, .next {
				width: 30px;
				height: 100%;
			}
			.img {
				width: 86px;
				height: 86px;
			}
		}
	}
}
.signup {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 640px;
	margin: 0 auto;
	margin-top: 140px;
	h2 {
		color: #000;
		font-family: Pretendard;
		font-size: 21px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		letter-spacing: -0.42px;
	}
	.box {
		color: #979CA3;
		font-family: Pretendard;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.26px;
		input:not([type="checkbox"]) {
			width: 100%;
		}
		.span {
			flex: 0 0 auto;
			width: 140px;
		}
		.btn-blue {
			width: 92px;
			flex: 0 0 auto;
		}
		.checkboxLabel {
			flex: 1 0 auto;
		}
		.link {
			color: #222;
			font-family: Pretendard;
			font-size: 13px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			letter-spacing: -0.26px;
			text-decoration-line: underline;
		}
		
	}
	.btranWrap {
		margin-top: 0;
	}
	[class*="btn-"] {
		min-width: 120px;
	}
}


.dashboard {
	.iconTray {
		border-radius: 50%;
		background: #FFF;
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
		display: flex;
		width: 50px;
		height: 50px;
		justify-content: center;
		align-items: center;
	}
	h2 {
		color: #484C51;
		font-family: Pretendard;
		font-size: 21px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.42px;
	}
	.titWrap {
		flex: 1 0 0;
	}
	.planName {
		display: flex;
		gap: 4px;
		align-items: center;
		color: #959BA8;
		font-family: Pretendard;
		font-size: 13px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.26px;
		img {
			width: 14px;
			aspect-ratio: 1/1;
		}
	}
	.timeWrap {
		color: #4B5262;
		text-align: center;
		font-family: Pretendard;
		font-size: 30px;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		letter-spacing: -0.6px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-around;
		// margin: 0 auto;
		margin-top: -20px;
		padding: 0 10%;
		.time {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			// width: 120px;
			flex: 1 0 40px;
			max-width: 120px;
			height: 80px;
			color: #4B5262;
			text-align: center;
			font-family: Pretendard;
			font-size: 30px;
			font-style: normal;
			font-weight: 900;
			line-height: normal;
			letter-spacing: -0.6px;
		}	
		.absol {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			color: #4B5262;
			font-family: Pretendard;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: -0.26px;
		}
		.divider {
			color: #4B5262;
			text-align: center;
			font-family: Pretendard;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: -0.36px;
		}
	}

	.barWrap {
		.barCompo + .barCompo {
			margin-top: 10px;
		}
		.barCompo {
			.date {
				flex: 0 0 auto;
				width: 50px;
				color: #000;
				font-family: Pretendard;
				font-size: 14px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				letter-spacing: -0.28px;
			}
			.barBox {
				width: calc(100% - 40px - 50px - 50px);
				&.yellow {.bar {background: #FB5;}}
				&.green {.bar {background: #2BD397;}}
				&.blue {.bar {background: #0E51DA;;}}
				
			}
			.bar {
				position: relative;
				flex: 0 0 auto;
				min-width: 1px;
				max-width: 100%;
				height: 16px;
				border-radius: 4px;
				background: #FB5;
			}
			.barCount {
				position: absolute;
				top: 0;
				left: calc(100% + 8px);
				flex: 0 0 auto;
				width: auto;
				border-radius: 4px;
				background: #000;
				padding: 3px 8px;
				color: #F6F6F7;
				text-align: center;
				font-family: Pretendard;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: -0.24px;
				white-space: nowrap;
				&::before {
					content: '';
					position: absolute;
					left: -2px;
					top: 8px;
					width: 4.243px;
					height: 4.243px;
					transform: rotate(45deg);
					background: #000;
				}
			}
		}
	}

	.tray {
		margin: 0;
	}
	.conWrap {
		flex: 1 0 0;
		align-self: stretch;
		max-width: calc((100% - 20px) / 2);
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.nav-tabs {
		border: 0;
		margin: 0;
		.nav-item {
			display: flex;
			align-items: center;
			&::after {
				content: '';
				display: block;
				width: 1px;
				height: 16px;
				background: #D9D9D9;
				margin: 0 10px;
			}
			&:last-child {
				&::after {
					display: none;
				}
			}
		}
		.nav-link {
			border: 0;
			background-color: transparent;
			padding: 0;
			color: #484C51;
			font-family: Pretendard;
			font-size: 21px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.42px;
			opacity: 0.34;
			&.active {
				opacity: 1;
			}
		}
	}
	.tab-content {
		.list {
			display: flex;
			align-items: center;
			margin-top: 10px;
			gap: 14px;
			&:first-child {
				margin-top: 0;
			}
		}
		.badge {
			width: auto;
			min-width: 40px;
			padding: 3px;
			border-radius: 4px;
			background: #BBEDDB;
			color: #09AB71;
			font-family: Pretendard;
			font-size: 12px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			letter-spacing: -0.24px;
		}
		.text {
			color: #4B5262;
			font-family: Pretendard;
			font-size: 13px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			letter-spacing: -0.26px;
			flex: 1 0 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.date {
			color: #979CA3;
			text-align: right;
			font-family: Pretendard;
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: -0.26px;
		}
	}

	@media screen and (max-width:1200px) {
		flex-direction: column;
		.conWrap {
			max-width: 100%;
			&.left {
				// flex-direction: row;
				.tray {
					flex: 1 0 0;
				}
			}
		}
	}
}

.graphSelect {
	.box {
		color: #484C51;
		font-family: Pretendard;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.32px;
		gap: 16px;
	}
}

.graphArea {
	width: 100%;
	height: 344px;
}